@keyframes headingText
  0%
    opacity 0
    left -100%

  100%
    opacity 1
    left 0

@keyframes headingLine
  0%
    opacity 0
    left 100%

  100%
    opacity 1
    left 0

@keyframes fadeIn
  0%
    opacity 0
    transform translateY(60px)

  100%
    opacity 1
    transform translateY(0)

@keyframes fadeInOpacity
  0%
    opacity 0

  100%
    opacity 1

@keyframes fadeOut
  0%
    opacity 1

  100%
    opacity 0

@keyframes loaderSmall
  0%
    transform rotate(0deg)

  100%
    transform: rotate(360deg)

@keyframes loaderBig
  0%
    transform rotate(360deg)

  100%
    transform: rotate(0deg)