@media screen and (max-width: 1280px)
  .window
    .page
      &__container
        margin 0 20px

@media screen and (max-width: 1024px)
  .window
    .content
      &__inner
        padding 0

      &__title,
      &__wrap
        float none

      &__title
        margin 0 0 30px
        width auto
        font-size 30px
        line-height 36px
        text-transform none

      &__image-link
        width 225px

      &__image
        height 135px

@media screen and (max-width: 700px)
  .window
    .content
      &__wrap
        padding 0

      &__cite
        float none
        width auto
        margin 0 0 30px

    .gallery
      &__content
        padding 0 90px

      &__title
        padding-top 35px

      &__text
        width auto

@media screen and (max-width: 640px)
  .window
    .content
      &__images
        margin 0 0 70px -16px
        display block

      &__image-link
        margin 16px 0 0 16px
        width 47%

        &:first-child
          margin 16px 0 0 16px

      &__image
        height 160px

@media screen and (max-width: 600px)
  .window
    .gallery
      &__content
        padding 0

      &__text
        position absolute
        right 60px
        bottom 65px
        left 60px

      &__title
        padding-top 0

      &__inner,
      &__item
        height 600px

@media screen and (max-width: 575px)
  .window
    .content
      &__image-link
        width 44%

@media screen and (max-width: 400px)
  .window
    .content
      &__images
        margin 30px 0 70px

      &__image-link
        margin 16px 0 0
        width 100%

        &:first-child
          margin 0