.content
  &__inner
    padding 0 0 0 325px
    animation fadeInOpacity .5s

  &__title,
  &__wrap
    float left

  &__title
    width 325px
    margin 2px 0 0 -325px
    font-weight 700
    text-transform uppercase
    font-size 18px
    letter-spacing 1px

  &__wrap
    padding 0 215px 0 0
    color #313131

  &__cite
    float right
    width 200px
    margin 0 -215px 0 0
    font-style italic
    font-size 16px
    line-height 24px

  &__text-inner
    font-size 18px

  &__text
    margin 30px 0
    line-height 32px

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  &__list
    margin 30px 0
    padding 0
    list-style none

  &__list-item
    position relative
    margin 25px 0 0
    padding 0 0 0 40px

    &:before
      position absolute
      top 10px
      left 12px
      width 6px
      height 6px
      border-radius 50%
      content ''
      background #313131

    &:first-child
      margin 0

  &__images
    margin 30px 0 70px
    display flex
    justify-content space-around

  &__image-link
    float left
    margin 0 0 0 16px
    width 310px
    transition .3s opacity
    text-decoration none

    &:hover
      opacity .8

    &:first-child
      margin 0

  &__image
    display block
    height 180px
    background #2e3345 no-repeat 50%
    background-size cover
    border-radius 5px