$galleryHeight = 360px

.gallery
  margin 0 0 54px

  &__wrap
    min-height $galleryHeight

  &__inner
    position relative
    height $galleryHeight
    background #f7f2ef
    overflow hidden

  &__item
    position relative
    height $galleryHeight
    display none

    &._state_current
      display block

      .gallery
        &__text
          animation fadeIn .5s

        &__image
          animation fadeInOpacity .7s

  &__content
    padding 0 110px

  &__text
    position relative
    width 400px
    z-index 3

  &__title
    margin 0
    padding 62px 0 0
    font-size 30px
    line-height 42px
    font-weight 700

  &__sub-title
    margin 6px 0 0
    font-size 18px
    line-height 33px
    font-weight 700

  &__btn-inner
    margin 30px 0 0

  &__btn
    position relative
    display inline-block
    padding 8px 15px
    text-transform uppercase
    border-radius 8px
    font-size 16px
    border 2px solid #4a4948
    font-weight 700
    text-decoration none
    color #000
    transition .3s all
    cursor pointer
    user-select none
    letter-spacing 1px
    white-space nowrap

    &:hover
      color #666
      border-color #666

    &:active
      top 1px

  &__image
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 1
    background 50% no-repeat
    background-size cover

  &__nav-inner
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 2

  &__nav-wrap
    position relative
    height 100%

  &__nav
    position absolute
    top 50%
    margin -17px 0 0
    width 18px
    height 34px
    background url('/images/nav.png') no-repeat
    transition .3s margin

    &:active
      margin-top -16px

    &._type_prev
      left 0

    &._type_next
      right 0
      transform rotate(180deg)

    &:not(._state_disabled)
      cursor pointer

      &:hover
        opacity .8

    &._state_disabled
      opacity .2

  &__bullets
    margin 15px 0 0
    text-align center

  &__bullet
    position relative
    display inline-block
    width 5px
    height 5px
    margin 0 0 0 7px
    background #e3e3e3
    border-radius 50%
    vertical-align middle

    &:first-child
      margin 0

    &:not(._state_active)
      cursor pointer

      &:hover
        background #888

    &._state_active
      width 17px
      height 17px

      &:before
        position absolute
        top 50%
        left 50%
        margin -5px 0 0 -5px
        width 5px
        height 5px
        border 2px solid #fff
        border-radius 50%
        content ''