$loaderSize = 130px
$loaderOffset = 15%

.loading
  position fixed
  top 0
  right 0
  left 0
  bottom 0
  z-index 10
  background #fff

  &__inner
    position absolute
    top 50%
    left 50%
    width $loaderSize
    height $loaderSize
    margin unit(-($loaderSize / 2), 'px') 0 0 unit(-($loaderSize / 2), 'px')

  &__loader
    border 6px solid #fadccd
    transform translateZ(0)
    border-radius 30px

    &._size_small
      position absolute
      top $loaderOffset
      right $loaderOffset
      bottom $loaderOffset
      left $loaderOffset
      border-color #fcb896
      animation loaderSmall infinite 2s

    &._size_big
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      animation loaderBig infinite 2s