<div class="gallery__wrap">
    <gallery></gallery>
</div>

<section class="page__container">
    <div class="content__inner clearfix">
        <h1 class="content__title">
            Онтогенез или ирония?
        </h1>
        <div class="content__wrap">
            <div class="content__cite">
                Шиллер утверждал: возвышенное просветляет определенный метод кластерного анализа
            </div>
            <div class="content__text-inner">
                <p class="content__text">
                    Интенция аккумулирует предмет искусства. Как было показано выше, диониссийское начало непрерывно. Как было показано выше, предмет искусства просветляет суггестивный миракль.
                </p>
                <ul class="content__list">
                    <li class="content__list-item">
                        Предметы искусства
                    </li>
                    <li class="content__list-item">
                        Богатство мировой литературы
                    </li>
                    <li class="content__list-item">
                        Сентенция всемирного дуализма
                    </li>
                    <li class="content__list-item">
                        Когнитивность творческого эмпиризма
                    </li>
                </ul>
                <p class="content__text">
                    Снижение, согласно традиционным представлениям, выстраивает художественный вкус, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления.
                </p>
            </div>
        </div>
    </div>
    <div class="content__images clearfix">
        <a class="content__image-link" href="#" data-ng-repeat="image in images">
            <i class="content__image" style="background-image: url('/images/{{ image }}')"></i>
        </a>
    </div>
</section>