<section class="gallery">
    <div class="gallery__inner">
        <div class="gallery__items">
            <article class="gallery__item" data-ng-repeat="(key, item) in slides" data-ng-class="{ '_state_current' : isActiveSlide(key) }">
                <div class="gallery__content page__container">
                    <div class="gallery__text">
                        <h2 class="gallery__title">
                            {{ item.title }}
                        </h2>
                        <div class="gallery__sub-title">
                            {{ item.subTitle }}
                        </div>
                        <div class="gallery__btn-inner">
                            <a class="gallery__btn">
                                Понять и простить
                            </a>
                        </div>
                    </div>
                </div>

                <i class="gallery__image" style="background-image: url('{{ imagesBaseUrl }}{{ item.image }}')"></i>
            </article>
        </div>
        <div class="gallery__nav-inner">
            <div class="gallery__nav-wrap page__container">
                <a class="gallery__nav _type_prev" data-ng-click="onPrev()" data-ng-class="{ '_state_disabled' : currentIndex() == 0 }"></a>
                <a class="gallery__nav _type_next" data-ng-click="onNext()" data-ng-class="{ '_state_disabled' : currentIndex() == slides.length - 1 }"></a>
            </div>
        </div>
    </div>

    <div class="gallery__bullets">
        <a class="gallery__bullet"
           data-ng-repeat="(key, item) in slides"
           data-ng-click="setActiveSlide(key)"
           data-ng-class="{ '_state_active' : isActiveSlide(key) }">
        </a>
    </div>
</section>
